header {
    font-family: Helvetica, sans-serif;
    width: 100%;
    z-index: 2;
}

#header-sony {
    background-color: black;
    width: 100%;
    height: 30px;
}

#header-sony img{
    height: 14px;
}


main, 
footer {
    font-family: Arial, Helvetica, sans-serif;
}

main {
    padding-top: 90px;
}

.my-placeholder {
    height: 100px;
    width: 100%;
    background-color: red;
}

.color-blue {
    color: blue;
}

.color-gray {
    color: rgb(90, 90, 90);
}

.color-white {
    color: white;
}

.my-title {
    font-weight:600 ;
    font-size: 2rem;
}

.wrapper-up {
    background-position: center;
    background-size: cover;
    color: white;
}


#jumbo .wrapper-up {
    padding-top: 250px;
    background-image: url(../img/jumbo-bg.png);
}

#new-exit .wrapper-up {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
}

#new-exit .wrapper-down {
    background-color: #1f1f1f;
    color: white;
}

#new-exit .wrapper-down p {
    font-size: 1rem;
}

#new-exit .wrapper-down h3 {
    font-size: 1.6rem;
}

.slider img{
    padding: 5px;
    border-radius: 2em;
}

.slider img:hover{
    padding: 3px;
    border-radius: 2em;
    border: 2px solid blue;
}

#ps5 .card {
    filter:opacity(0.5);
    border: 0;
    border-bottom: 2px;
    border-color: transparent;
    border-style: solid;
}

#ps5 .card:hover{
    filter:opacity(1);
    border-color: blue;
}

#ps-plus {
    background-color: #bebcbb;
}

#ps-now {
    background-color: #161c3b;
}

footer {
    background-color: #00439c;
    color: white;
    padding: 50px;
}

#logo-footer {
    width: 100px;
}

#globe {
    width: 20px;
}

#sie-logo {
    width: 150px;
}

footer p {
    font-size: 0.8rem;
}

footer li {
    
}


@media all and (min-width: 768px) {
    p {
        font-size: 0.9rem;
    }
    #ps5 .card-text {
        font-size: 0.85rem;
    }

    #new-exit .wrapper-down p {
        font-size: 1.3rem;
    }
}


@media all and (min-width: 992px) {
    #new-exit .wrapper-down p {
        font-size: 0.8rem;
    }

    #jumbo .wrapper-up {
        padding-top: calc(100vh / 6);
    }
}

