.my-placeholder {
    height: 100px;
    width: 100%;
    background-color: red;
}

#jumbo .wrapper-up {
    padding-top: 250px;
    background-image: url(../img/jumbo-bg.png);
    background-position: center;
    background-size: cover;
    color: white;
}

.slider img{
    padding: 5px;
    border-radius: 2em;
}

.slider img:hover{
    padding: 3px;
    border-radius: 2em;
    border: 2px solid blue;
}

